mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+b.events-filter.d-none.d-lg-block
				+e.filter-wrap(id="events-dropdown")
					+e.radio-wrap--text.radio-wrap
						+in-c('radio','Все материалы','events')(checked)
						+in-c('radio','Обязательные','events')
						+in-c('radio','Факультативные','events')
						+in-c('radio','Рекомендации','events')
			+e.sorting
				.d-lg-none: a(href='#')
					| Сначала новые
					+icon('sort')
				.d-none.d-lg-block
					.link-item.active: a(href='#')
						| Сначала новые
					.link-item: a(href='#')
						| Сначала старые
				.form-check.form-check-reverse.form-switch
					label.form-check-label(for="flexSwitchCheckDefault")
						.d-none.d-lg-inline
							+icon('like')
							+icon('dislike')
						| С оценкой
					input.form-check-input(type="checkbox" checked role="switch" id="flexSwitchCheckDefault")
			+e.list
				+articleItem('Обязательные', 'badge_yellow', 'Запись вебинара с Ольгой Невской: «Исследования в транспортном комплексе Москвы: организация и проведение, основные этапы, сложности и ошибки».', 'Вебинар посвящён изучению организации дорожного движения в столице России и поиску оптимальных решений для устранения пробок на дорогах. Участники мероприятия рассмотрят Государственную программу развития транспортной системы Москвы на 2024–2026 годы, изучат мнения экспертов и жителей города по этому вопросу, а также предложат дополнительные меры для улучшения транспортной ситуации в городе.', 'Смотреть вебинар', 'report')
				+articleItem('Факультативные', 'badge_indigo', 'Стандартная работа руководителя', 'Вебинар посвящён изучению организации дорожного движения в столице России и поиску оптимальных решений для устранения пробок на дорогах.', 'Скачать презентацию', 'education')
				+articleItem2('Обязательные', 'badge_yellow', 'Масштабируемость в управлении. Переход от управления отдельными сотрудниками к управлению коллективом. Необходимые компетенции руководителей, коммуникационные и структурные изменения.', 'Вебинар посвящён изучению организации дорожного движения в столице России и поиску оптимальных решений для устранения пробок на дорогах. Участники мероприятия рассмотрят Государственную программу развития транспортной системы Москвы на 2024–2026 годы, изучат мнения экспертов и жителей города по этому вопросу, а также предложат дополнительные меры для улучшения транспортной ситуации в городе.', 'Скачать', 'report')
				+articleItem('Рекомендации', 'badge_blue', 'Бережливый офис. Тайм менеджмент. Сокращение офисных потерь. Обсуждение открытых вопросов.', 'Вебинар посвящён изучению организации дорожного движения в столице России и поиску оптимальных решений для устранения пробок на дорогах. Участники мероприятия рассмотрят Государственную программу развития транспортной системы Москвы на 2024–2026 годы, изучат мнения экспертов и жителей города по этому вопросу, а также предложат дополнительные меры для улучшения транспортной ситуации в городе.', 'Скачать', 'user-favorite')
				+articleItem('Обязательные', 'badge_yellow', 'Инструменты контроля «через ступень»/«несколько ступеней». Построение обратной связи «сквозь несколько уровней управления».', 'Вебинар посвящён изучению организации дорожного движения в столице России и поиску оптимальных решений для устранения пробок на дорогах. Участники мероприятия рассмотрят Государственную программу развития транспортной системы Москвы на 2024–2026 годы, изучат мнения экспертов и жителей города по этому вопросу, а также предложат дополнительные меры для улучшения транспортной ситуации в городе.', 'Скачать', 'report')
			+pugin
	// end sArticle

mixin sArticle2(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			.events-f.d-none.d-lg-block
				+filterMobile
			+e.filters-tag.small
				+e.item-sort.item-sort-main(href='#')
					| Сбросить все
					+icon('cross')
				+e.item-sort(href='#')
					| GR
					+icon('cross')
				+e.item-sort(href='#')
					| Инвестиционные проекты
					+icon('cross')
				+e.item-sort(href='#')
					| Коммуникация
					+icon('cross')
				+e.item-sort(href='#')
					| Работа с людьми
					+icon('cross')
				+e.item-sort(href='#')
					| Стратегия
					+icon('cross')
				+e.item-sort(href='#')
					| Автоматизация бизнес-процессов
					+icon('cross')
				+e.item-sort(href='#')
					| Поддержка и развитие креативных индустрий
					+icon('cross')
			+e.list
				+articleItem3(1, 'Абрамов Иван Александрович', 'Группа компаний «НПХ-инвест»', 'Основатель', true)
				+articleItem3(3, 'Летунова Александра Петровна', 'Группа компаний «НПХ-инвест»', 'Директор по развитию', 0)
				+articleItem3(2, 'Андрощук Виктор Владимирович', 'Группа компаний «ЭСК-РусГидро»', 'Заместитель генерального директора', 0)
				+articleItem3(0, 'Вишневский Александр Александрович', 'Группа компаний «НПХ-инвест»', 'Заместитель генерального директора', 0)
				+articleItem3(4, 'Вернигорова Валентина Анатольевна', 'Группа компаний «НПХ-инвест»', 'Основатель', true)
				+articleItem3(6, 'Летунова Александра Петровна', 'Группа компаний «НПХ-инвест»', 'Директор по развитию', 0)
				+articleItem3(2, 'Андрощук Виктор Владимирович', 'Группа компаний «ЭСК-РусГидро»', 'Заместитель генерального директора', 0)
				+articleItem3(7, 'Летунова Александра Петровна', 'Группа компаний «НПХ-инвест»', 'Директор по развитию', 0)
				+articleItem3(8, 'Летунова Александра Петровна', 'Группа компаний «НПХ-инвест»', 'Директор по развитию', 0)
				+articleItem3(9, 'Летунова Александра Петровна', 'Группа компаний «НПХ-инвест»', 'Директор по развитию', 0)
			+pugin
	// end sArticle

mixin articleItem(badge, badgeColor, title, text, btn, icon)
	+b.article-item
		+e.icon-wrap(class=badgeColor): +icon(`${icon}`)
		+e.header
			.badge.small(class= badgeColor)= badge
			+e.calendar.small
				+icon('calendar')
				| 10 сентября 2024
		+e.body
			+e.title= title
			+e.text.small= text
			+e.btn.btn.btn-outline-primary.small(href='#')= btn
		+e.footer
			+comments
			+e.control.small
				.wrap
					+icon('like')
					| 56
				.wrap
					+icon('dislike')
					| 14

mixin articleItem2(badge, badgeColor, title, text, btn, icon)
	+b.article-item
		+e.icon-wrap(class=badgeColor): +icon(`${icon}`)
		+e.header
			.badge.small(class= badgeColor)= badge
			+e.calendar.small
				+icon('calendar')
				| 10 сентября 2024
		+e.body
			+e.title= title
			+e.text.small= text
			+e.btn.btn.btn-outline-primary.small(href='#')= btn
		+e.footer
			+commentsEmpty
			+e.control.small
				.wrap.active
					+icon('like')
					| 14

mixin commentsEmpty
	+e.comment-btn.comment-btn-js.btn.BUTTON.small
		| Оставить комментарий
	+e.comment-body.comment-body-js.visually-hidden
		.sFormInner__comments
			.article-item__footer
				+e.comment-btn.hide-comment-js.btn.BUTTON.small
					| Оставить комментарий
				+e.control.small
					.wrap.active
						+icon('like')
						| 14
			.sFormInner__comment-input
				.d-lg-none: +input('Комментарий','textarea').--comment
					button.btn.btn-primary
						+icon('send')
				.wrapper
				.d-none.d-lg-block: +input('Комментарий','textarea').--comment
					button.btn.btn-primary
						+icon('send')

mixin comments
	+e.comment-btn.comment-btn-js.btn.BUTTON.small
		| Показать комментарии (13)
		+icon('arrow-bottom')
	+e.comment-body.comment-body-js.visually-hidden
		.sFormInner__comments
			.article-item__footer
				+e.comment-btn.hide-comment-js.btn.BUTTON.small
					| Скрыть комментарии (13)
					+icon('arrow-top')
				+e.control.small
					.wrap
						+icon('like')
						| 56
					.wrap
						+icon('dislike')
						| 14
			.sFormInner__comment-input
				.d-lg-none: +input('Комментарий','textarea').--comment
					button.btn.btn-primary
						+icon('send')
				.wrapper
					+commentPerson(1, 'Абрамов Иван Александрович', 'Основатель', 'Группа компаний «НПХ-инвест»', 'Мне понравился данный вебинар. Было интересно изучить мнения экспертов и жителей города по этому вопросу, а также предложения дополнительных мер для улучшения транспортной ситуации в городе!')
					+commentPerson(2, 'Володин Сергей Николаевич', 'Заместитель генерального директора', 'Группа компаний «НПХ-инвест»', 'Мне понравился данный вебинар. Было интересно изучить мнения экспертов и жителей города по этому вопросу, а также предложения дополнительных мер для улучшения транспортной ситуации в городе!')
					+commentPerson(3, 'Летунова Александра Петровна', 'Директор по развитию', 'ОИВ', 'Мне понравился данный вебинар. Было интересно изучить мнения экспертов и жителей города по этому вопросу, а также предложения дополнительных мер для улучшения транспортной ситуации в городе!')
					+commentPerson(4, 'Вернигорова Валентина Анатольевна', 'Заместитель генерального директора', 'Группа компаний «НПХ-инвест»', 'Мне понравился данный вебинар. Было интересно изучить мнения экспертов и жителей города по этому вопросу, а также предложения дополнительных мер для улучшения транспортной ситуации в городе!')
					+commentPerson(0, 'Вишневский Александр Александрович', 'Заместитель генерального директора', 'Группа компаний «НПХ-инвест»', 'Мне понравился данный вебинар. Было интересно изучить мнения экспертов и жителей города по этому вопросу, а также предложения дополнительных мер для улучшения транспортной ситуации в городе!')
				.text-center: +e.show-more.small.btn.btn-link(href='#')
					| Показать еще
					+icon('arrow-bottom')
				.d-none.d-lg-block: +input('Комментарий','textarea').--comment
					button.btn.btn-primary
						+icon('send')

mixin commentPerson(img,title,job, job2, text )
	+b.comment-person
		if img
			+e.img-wrap: +img(src=`img/comment-img-${img}.png`, alt="").img-bg
		if !img
			+e.img-wrap.d-flex: +icon('user-desktop')
		+e.descr.small
			+e.item.title.fw-700= title
			+e.item.job= job
			+e.item.job.job2= job2
			.text= text

mixin commentPerson2(img,title,job, job2)
	+b.comment-person2
		if img
			+e.img-wrap: +img(src=`img/comment-img-${img}.png`, alt="").img-bg
		if !img
			+e.img-wrap.d-flex: +icon('user-desktop')
		+e.descr.small
			+e.item.text_large.title.fw-700= title
			+e.item.job= job
			+e.item.job.job2= job2

mixin articleItem3(img, title,job, job2, info)
	+b.article-item--horiz
		+commentPerson2(img, title,job, job2)
		+e.footer.article-item__footer2
			+e.comment-btn.comment-btn-js.btn.BUTTON.small
				| Подробнее
				+icon('arrow-bottom')
			+e.comment-body.comment-body-js.visually-hidden
				.sFormInner__comments
					+contacts(info)
					.article-item__footer.article-item__footer2
						+e.comment-btn.hide-comment-js.btn.BUTTON.small
							| Скрыть
							+icon('arrow-top')

mixin contacts(info)
	+b.contacts-item
		+e.title.fw-700 Контакты
		+e.item.UL.small
			li: a(href='mailto:androschuk_rushydro@yandex.ru')
				+icon('mail')
				| androschuk_rushydro@yandex.ru
			li: a(href="tel:+79371567786")
				+icon('phone-empty')
				| +7 937 156 77 86
			li: a(href="#")
				+icon('vk')
				| @parivan
			li: a(href="#")
				+icon('telegram')
				| @parivan
		+e.item.item_gray.small: .row.items-row
			.col-lg-4: +e.part
				.title.fw-700 Округ
				.text Центральный административный округ
			.col-lg-4: +e.part
				.title.fw-700 Район работы
				.text Пресненский район
			.col-lg-4: +e.part
				.title.fw-700 Стаж работы
				.text 15 лет
			.col-lg-12: +e.part
				.title.fw-700 Экспертиза
				.badges
					.badge GR
					.badge Инвестиционные проекты
					.badge Коммуникация
					.badge Работа с людьми
					.badge Стратегия
					.badge Построение команды
					.badge Автоматизация бизнес-процессов
		if info
			+e.item
				.title-lg.fw-700 Информация о себе
				.small Управление экономикой и финансами проектов <br> Публичные выступления (спикер конференций в числе которых TEDx и Skolkovo talks)<br> GR (2 года работал советником руководителя Администрации Главы Республики Башкортостан по вопросам развития предпринимательства и международным проектам)<br>Стратегия и инвестиции
			+e.item.item_border-top
				.title-lg.fw-700 Хобби
				.small Ски-тур, горные лыжи, горные восхождения<br>Морские приключения<br> Наставничество для предпринимателей и обучение